.chatMessageInputDiv {
    top: calc(100vh - 315px);
}

.message-container {
    position: relative; /* Ensure absolute positioning is relative to this container */
}

.feedback-bar {
    display: none; /* Initially hide the feedback bar */
    position: absolute; /* Position the feedback bar */
    bottom: -35px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
}

.false {
    position: absolute; /* Position the feedback bar */
    bottom: -35px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
}

.message-container:hover .feedback-bar {
    display: flex; /* Show the feedback bar on hover */
    /* Additional styling for the feedback bar */
    /* background-color: lightgray; */
    padding: 5px;
    border-radius: 4px;
}

.chatMessageInput {
    padding: 10px;
}

@media all and (max-height:500px) {
    .chatMessageInputDiv {
        top: calc(100vh - 310px) !important;
        /*         border: 1px solid red;
 */
    }

    .chatMessageInput {
        padding: 5px;
        height: 40px;
    }

    .chatSubmitButton {
        height: 40px !important;
        padding-left: 15px !important;
        width: 40px !important;
        border-radius: 100% !important;
    }
}

@media all and (max-width:500px) {
    .chatMessageInputDiv {
        top: calc(100vh - 310px);
        /*         border: 1px solid red; */
    }

    .chatMessageInput {
        padding: 5px;
        height: 40px;
    }

    .chatSubmitButton {
        height: 40px !important;
        padding-left: 15px !important;
        width: 40px !important;
        border-radius: 100% !important;
    }
}
.chat-history {
    padding-bottom: 60px; /* Adjust based on the actual height of your feedback component */
    overflow-y: auto;
  }