.conversation_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}

@media all and (max-width:990px) {
    .conversation_title {
        width: 120px;
    }
}

@media all and (max-width:600px) {
    .conversation_title {
        width: 80px;
    }
}